<%= render partial: 'shared/form', locals: { product: product } %>

   <% @products.each do |product| %>
      <div class="col-sm-2 col-md-4">
        <h1><%= product.name %></h1>
        <p><%= product.description %></p>
        <% if product.image_url %>
           <%= image_tag(product.image_url, class: "img-responsive") %>
        <% end %>
        <p><%= product.color %></p>
        <strong><%= product.price %></strong>
        <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div><!-- /col -->
    <% end %>
    